*{
    margin: 0;
    padding: 0;
}

.game{
    margin:auto;
}
.btnButton{
    align-items: center;
    border: 1px solid;
//padding: 10em 10em 0 10em ;
}
.btn{
    border-radius: 10px;
    background: blue;
    padding: 10px;
    margin: 5px;
}
.btn1{
    border-radius: 10px;
    background: red;
<<<<<<< HEAD
    padding: 10px;
    margin: 5px;
}
=======
    padding: 15px;
    margin: 15px;
}
/* test ti thoi */
>>>>>>> 998ff84a3855a647affbf8ac716ea546b86aab0b
